.claude/
.gradle/
build/
captures/
local.properties
/package.json

**/build/
*.iml

.idea/
*.apk
*.aab
*.ap_
*.dex
*.class
*.jks
*.keystore
keystore.properties
/keystore/

/docs/
/outputs/


.kotlin/
